.input-container {
    margin: 1em 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 5px;
    color: black;
    border-radius: 8px;
}

.input-container label {
    font-size: 0.9em;
    color: #333;
}


.input-container select {
    width: 100%;
    min-width: 0;
    padding: 10px;
    background: #fff;
    border: none;
    font-size: 1.1em;
    color: #111;
    transition: border-color 0.3s;
    box-sizing: border-box;
}

.input-container select:focus {
    outline: none;
    border-color: #213547;
}

.input-container input:focus {
    outline: none;
    border-bottom: 2px solid #213547;
}

